/** {*/
/*    box-sizing: border-box;*/
/*}*/

 body {
     background-color: #000000;
     font-family: Verdana;
 }


.loader {
    height: 100vh;
    font-size: 100px;
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    /*opacity: 1;*/
}

/*nav {*/
/*    background-color: #323131;*/
/*    width: 100%;*/
/*    height: 15vh;*/
/*    color: white;*/
/*    font-size: 1.8em;*/
/*    line-height: 15vh;*/
/*}*/

/*#renderMovie {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

.card {
    background-color: #141c30;
    color: #a0a0a0;
    font-size: larger;

    /*max-height: 300px;*/
}

.card-body {
    background-color: #0b0f1a;
}

.invisibleBtn {
    display: none;
}

.blue-border {
    border: 1px dotted blue;
}

.poster {
    /*height: 250px;*/
    width: 95%;
    justify-self: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5), -5px -1px 5px rgba(0,0,0,0.5);
}

/*form {*/
/*    border: 1px solid black;*/
/*    width: 20%;*/
/*    background-color: lightgrey;*/
/*    !*float: left;*!*/
/*}*/

#renderMovie {
    padding: 20px;
}

.plot {
    display: none;
    font-size: small;
}

.add_to_this .plot {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: #000000;
    padding: .5em;

}
.add_to_this:hover .plot {
    display: block;
    position: absolute;
    bottom: 35%;
    top: auto;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .7;
    }
}