* {
    box-sizing: border-box;
}

 body {
     margin: 0;
     padding: 0;
 }

 .invisible {
     display: none;
 }

.loader {
    height: 100vh;
    font-size: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    /*opacity: 1;*/
}

.star {
    cursor: pointer;
    background-color: yellow;
    color: white;
}
